@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;

body {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: Plus Jakarta Sans;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.btn-primary {
  @apply h-[48px] rounded-lg bg-greenNormal text-base font-semibold text-gray700;
}

.btn-primary-disabled {
  @apply bg-slate-100 cursor-not-allowed;
}
